html {
    background-color: lightgrey;
}
body {
    font-family: monospace;
    text-align: center;
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
#input_form {
    text-align: center;
    align-content: center;
    margin: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px solid grey;
}
input {
    text-align: center;
}
#left_box {
    width: 50%;
    text-align: left;
    margin: auto;
    padding: 1em;
    border: 2px solid lightgrey;    
}
.field_container {
	-webkit-column-count: 2 45%;
    -moz-column-count: 2 45%;
    column-count: 2 45%;

    -webkit-column-gap: 5%;
    -moz-column-gap: 5%;
    column-gap: 5%;
	
	width: 80%;
	margin: auto;
	overflow: auto;
	align-items: center;
	align-content: center;
}
.dual_field {
	align-self: center;
	position: relative;
	margin: 1em;
	float: left;
}
#dialogue {
    color: red;
}
label {
    font-size: .75em;
}